<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<body>
  <section class="contact-us my-5">
    <div class="container">
      <div class="row">
        <div class="row d-flex flex-nowrap flex-row">
          <div class="heading d-flex align-items-center">
            <h2>Contact Us</h2>
            <p class="ps-4">Connect with Us: Let's Discuss Your <br> Digital Marketing Needs</p>
          </div>
        </div>
      </div>
      <div class="contact-wrapper position-relative overflow-hidden">
        <div class="row">
          <div class="col-lg-8">
            <form action="">
              <div class="d-flex">
                <div class="d-flex align-items-center">
                  <input type="radio" id="radio1" name="greeting" checked>
                  <label for="radio1" class="ms-2 mb-0">Say Hi</label>
                </div>
                <div class="ms-3 d-flex align-items-center">
                  <input type="radio" id="radio2" name="greeting">
                  <label for="radio2" class="ms-2 mb-0">Say Hi</label>
                </div>
              </div>
              <label class="mt-3" for="">Name</label> <br>
              <input class="form-control" type="text" placeholder="Name">

              <label class="mt-3" for="">Email</label> <br>
              <input class="form-control" type="email" placeholder="Name">

              <label class="mt-3" for="">Message</label> <br>
              <textarea class="form-control" name="" id="" placeholder="Message"></textarea>

              <input class="form-control mt-3 bg-dark text-white" type="submit" value="Send Message">
            </form>
          </div>
          <img class="contact-bg d-none d-lg-block" src="https://codewithshabbir.github.io/Positivus/assets/images/contact-bg.png" alt="">

        </div>
      </div>
    </div>
  </section>
</body>
</html>